<div class="login-container">
  <div class="login-content">
    <h1 class="login-title">Login to oAuth2 Demo</h1>
    <div class="social-login">

      <a class="btn btn-block social-btn google" (click)="onGoogleSignIn()">
        <img src="/assets/img/google-logo.png" alt="Google">
        Log in with Google
      </a>
      <a class="btn btn-block social-btn facebook" (click)="onFacebookSignIn()">
        <img src="/assets/img/fb-logo.png" alt="Facebook">
        Log in with Facebook
      </a>

    </div>

    <div class="or-separator"><span class="or-text">OR</span></div>

    <form [formGroup]="loginForm" (ngSubmit)="onClickSubmitSignIn(loginForm.value)">
      <div class="form-item">
        <input type="text" name="usename" class="form-control" placeholder="Username" required="" value=""
          formControlName="userNameOrEmail">
      </div>
      <div class="form-item">
        <input type="password" name="password" class="form-control" placeholder="Password" required="" value=""
          formControlName="password">
      </div>
      <div class="form-item">
        <button type="submit" class="btn btn-block btn-primary">Sign In</button>
      </div>
    </form>

    <span class="signup-link">New user? <a href="/signup">Sign up!</a></span>
  </div>
</div>